#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.input-transliteration {
  min-height: 10rem;
  min-width: 40rem;
  margin-bottom: 2rem;
}
.manchu-text-container {
  display: flex;
  border: 1px solid #000;
  min-height: 30rem;
  min-width: 20rem;
}
.manchu-text {
  font-size: 1.5rem;
  writing-mode: vertical-rl;
}
